# Environments
# .env
# .env.*
!.env.example
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Project documentation
docs/

# Node / Vue / Vite
node_modules/
dist/
dist-ssr/
*.local
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker DB Volumes (from docker-compose.yml)
postgres_data/
dolibarr_db_data/
dolibarr_documents/
dolibarr_custom/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
logs/
*.log
